@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #424242; /* Button color */
    --background-color: #f9fafb; /* Light gray background */
    --list-background-color: #121212; /* Dark background for lists */
    --card-background-color: #424242; /* Dark background for cards */
    --border-radius: 8px; /* Rounded corners */
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    --font-family: 'Inter', sans-serif; /* Font family */
    --text-color: white; /* White text color */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

.board-container {
    padding: 15px;
    margin: 0;
    height: 85vh;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    overflow-x: auto; /* Allow horizontal scrolling for lists */
    display: flex;
    flex-direction: column; /* Align lists in a row */
}

.create-list-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 500;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
}

.create-list-button:hover {
    background-color: #333333; /* Slightly darker button color on hover */
}

.board-lists-container{
    display : flex;
    flex-direction: row;
}

.board-list-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.list-card {
    background-color: var(--list-background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: var(--border-radius);
    margin: 10px;
    width: 250px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
    flex-shrink: 0; /* Prevent list cards from shrinking */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height : auto;
}

.list-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.list-card h3 {
    margin-top: 0;
    font-weight: 600;
}

.card {
    background-color: var(--card-background-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.add-card-button {
    width: 100%;
    padding: 8px 16px;
    margin: 5px 0;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    font-weight: 500;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
}

.add-card-button:hover {
    background-color: #333333; /* Slightly darker button color on hover */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--card-background-color);
    padding: 20px;
    border-radius: var(--border-radius);
    position: relative;
    width: 300px;
    box-shadow: var(--box-shadow);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #6b7280; /* Medium gray text */
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-header button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.list-header button:hover {
    background-color: #333333; /* Slightly darker button color on hover */
}
