.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #121212;
    color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 300px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

form input,
form textarea,
form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #595959;
    border-radius: 4px;
    background: #121212;
    color: white;
    
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin : 5px 0px;
}

form button:hover {
    background-color: #0056b3;
}

.label-inputs {
    display: flex;
    align-items: center;
}

.label-inputs input {
    flex-grow: 1;
}

.label-input select {
    width: auto;
    background: #262626;
    color: #121212;
}

.label-inputs button {
    margin-left: 10px;
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.label-inputs button:hover {
    background-color: #3a3a3a;
}

.labels-container {
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height : 25px;
    width : auto;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px;
    background-color: #ffffff;
    color: white;
    color : black
}

.label button {
    background: none;
    border: none;
    height : 20px;
    width : 30px;
    cursor: pointer;
    color: white;
    text-align: center;
    color : black
}

.delete-card-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-card-button:hover {
    background-color: darkred;
}

.select-color-option {
    color: #121212; /* Ensure text is readable on color background */
    padding: 5px;
}

.select-container{
    display: flex;
    flex-direction: row;
}

.select-container select{
    background-color: rgb(25, 25, 25);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
.select-button{
background-color: #007bff;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
width : 50%;
padding: 0;
}
