.footer {
    border-top: 1px solid #2c2c2c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa; /* Optional: You can set a background color */
    position : static;
    bottom : 5px;
}
