*{
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.app-container {
    padding: 10px;
    margin: 0;
}

.add-board-button {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 16px;
    transition: background-color 0.3s;
}

.add-board-button:hover {
    background-color: #0056b3;
}

.boards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
}

.board-card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.board-card:hover {
    transform: translateY(-5px);
}

.board-cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.board-title {
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.footer {
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa; /* Optional: You can set a background color */
}

.board-button-heading{
    display: flex;
    justify-content: space-between;
    padding : 10px 20px;
}